.plist{
    font-size: 14x;
    margin-left: 10px;
    align-items: left;
    padding: 7px;
    cursor: white;
    width: 100px;
    border-top-right-radius: 10px;

    &.active {
        background-color: rgb(0, 0, 0);
        color: white;   
    }
}
@media only screen and (min-width : 321px) and (max-width : 480px) {
    .plist{
        font-size: 10x;
        margin-left: 5px;
        align-items: left;
        padding: 2px;
        cursor: white;
        width: 60px;
        border-top-right-radius: 10px;
        &.active {
            background-color: rgb(0, 0, 0);
            color: white;   
        }
    }
}
