.plist{
    font-size: 14x;
    margin-right: 50px;
    padding: 7px;
    border-radius: 10px;
    cursor: white;

    &.active {
        background-color: rgb(31, 26, 26);
        color: white;   
    }
}