.main-container{
  padding: 1rem;
}

.userdata {
  border: 1px solid black;   
  padding: 1rem;
  background-color: #f7f5fa6b;
  border-radius: 10px;
}

.codeDiv{
  border: 1px solid rgba(160, 157, 157, 0.733);
  width: 60%;
  margin: 0 auto;
  padding: 10px;
}

.code{
    display: flex;
    width: 90%;
    height: 20rem;
    border: 1px solid black;
    margin: 0 auto;
    padding: 1rem;
}
textarea {
  width: 100%;
  max-width: 100%;
  height: 100%;
}
#downloadButton
{
  width: 100px;
  border-radius: 20px;
  color: #000;
  background-color: white;
  padding: 0px;
  border: 1px solid black;
  margin: 10px;
}
#downloadButton:hover{
  border: 2px solid black ;
}
.description
{
  background-color: rgba(223, 219, 219, 0.605);
  padding: 1rem;
  color: rgb(142, 142, 142);
} 
.DescriptionContainer{

margin-left: 2rem;
margin-right: 2rem;
padding: 1rem;

}
.navBar{
  padding: 0px;
}
ul li { display: inline-block;  *display: inline; }

li{
  border: 1px solid rgb(255, 255, 255);
  margin: 0 0;
  padding: 0px;
  text-align: center;
  font-size: larger;
}
li:hover{
  color: rgb(40, 138, 195);
  border: 1.5px solid rgb(40, 138, 195);
  cursor: pointer;
}
.container2
{
 margin: 0rem;
 background-color: rgba(223, 219, 219, 0.116);
 display: flex;
}
.left-container2{
 /* border: 1px solid palevioletred;   */
 width: 30%;
 background: rgba(216, 216, 216, 0.26);
}
.fa-home{
 color: white; 
 background-color: black;
}
.icon-pos{
 margin-left: 85rem;
 margin-top: 2rem;
}
.scrolling-wrapper{
  width: 80%;
  
  margin-left: auto;
  margin-right: auto;
}


@media only screen and (min-width : 321px) and (max-width : 800px) {
  .h6fontchanger{
    color: #000;
    margin-bottom: 5px;
  }

/* Styles for some mobile devices */
.main-container{
  padding: 0rem;
}
.container
{
  margin: 0.1rem;
  border: 2px solid rgb(190, 188, 188);
}

.navBar{
  padding: 0px;
  border: 2px solid rgb(190, 188, 188);
  margin-top: 5rem;
  margin-bottom: 2%;
}
ul{
  display: inline;
}
li{
  border: 2px solid rgba(0, 183, 255, 0.712);
}
li:hover{
  cursor: pointer;
}
.description
{
  border: 1px solid rgb(190, 188, 188);
  background-color: rgba(223, 219, 219, 0.116);
  padding: 0.5rem;
  margin-bottom: 0;
}
.DescriptionContainer{
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding: 0.5rem;
  }
  .container2
  {
    margin: 0.5rem;
    border: 3px solid rgb(190, 188, 188);
    background-color: rgba(223, 219, 219, 0.116);
    display: grid;
  }
  .left-container2{
    /* border: 20px solid palevioletred;   */
    width: 100%;
    padding: 0;
    background: rgba(216, 216, 216, 0.26);
    height: 80%;
  }
  .dataExplorer {
    border: 1px solid black;  
    font-size: 20rem;
  }
  .detailes{
    display: flex;
    justify-content: space-between;
    margin: 10px;
  }
  #creator {
    padding: 0%;
    font-size: 15px;
    align-items: center;
  }
  .codeDiv{
    border: 1px solid rgba(160, 157, 157, 0.733);
    width: 100%;
    margin: 0 auto;
    padding: 2px;
  }

  .code{
      display: flex;
      width: 100%;
      height: 20rem;
      margin: 0 auto;
      padding: 1rem;
  }

}