.header {
  display: flex;
  border: 1px solid black;
  width: fit-content;
  margin-top: 40px;
  padding: 1rem;
  background-color: #f7f5fa;
  border-radius: 10px;
}

.left {
  display: flex;
  flex-direction: column;
  /* border: 1px solid palevioletred; */
  margin-right: auto;
  margin-left: 1rem;
}
.right {
  overflow: hidden;
    margin-left: auto;
    margin-right: 10rem;
}
.right img {
  width: 100%;
  min-height: 100%;
}
@media screen and (max-width: 800px) {
  .right {
    display: none;
  }
  .left{
    margin-right: auto;
  margin-left: 1rem;
  }
}
  /* @media screen and (max-width: px) {
  } */
  #h1 {
    margin: 2rem 3rem;
    margin-bottom: 0rem;
    width: 30%;
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 0.08rem;
  }
  #description {
    width: 30rem;
    font-size: 1.08rem;
    margin: 0.5rem 3rem;
    color: rgb(116, 113, 113);
  }
  a {
    color: #000;
    font-size: 1.08rem;
  }
  
  .button-container{
      width: 30rem;
      padding: 5px;
      display: flex;
      /* border: 1px solid black; */
      margin: 2rem 3rem;
  }
  .button-container .primary{
      -webkit-box-align: center;
      align-items: center;
      background-color: rgb(32, 33, 36);
      border-radius: 20px;
      border: none;
      cursor: pointer;
      display: inline-flex;
      height: 36px;
      padding: 0px 24px 0px 16px;
      transition: all 0.3s ease 0s;
      white-space: nowrap;
      width: fit-content;
      color: white;
  }
  .button-container .secondary{
      -webkit-box-align: center;
      align-items: center;
      background-color: transparent;
      border-radius: 20px;
      border: 1px solid rgb(189, 193, 198);
      cursor: pointer;
      display: inline-flex;
      height: 36px;
      padding: 0px 24px;
      transition: all 0.3s ease 0s;
      white-space: nowrap;
      width: fit-content;
      margin-left: 15px;
  }
  .button-container .primary:hover{
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
  .button-container .secondary:hover{
      border: 1px solid rgb(58, 58, 58);
  }